extends layout

block content

  p This is the main Admin page
  p Welcome to My profile page
  p Your username is #{username}
  p This is a #{test}
  p The date today is #{date}
  #[a(href="/logout") Log out]
