extends layout

block content
  h1= title
  p Welcome to my new and improved website: #{title}

  h2= title
  p Welcome to My new Node JS application
  if !userLoggedIn
    #[a(href="/login") Log in] <br/>
  else 
    p You are logged in as #{username}!
