extends layout

block content
  h1= title
  p Welcome to my new and improved website: #{title}

  h2= title
  p Welcome to My new Node JS application
  #[a(href="/login") Log in]
  #[a(href="/signup") Create a New Account] 