extends layout

block content
  .page-header
  h3 List of questions <br /><br />
    each question in question_array
      h1 #[a(href='question/' + question.id) #{question.title}]
      p Categorized under:  #{question.tag}
