//@import "themes/default/variables";

//@import "vendors/bootstrap/bootstrap";
//g@import "vendors/bootstrap-social";
@import "vendors/font-awesome/font-awesome.css";

@import "themes/default/styles.css";

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #07c;
  text-decoration: none;
}

// Scaffolding
// -------------------------

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 60px;
  margin-bottom: 75px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;

  p, ul {
    margin-bottom: 0;
  }
}

// Navbar
// -------------------------

.navbar-nav img {
  width: 30px;
  height: 30px;
  margin: -15px 15px -15px;
}

// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

// Success 

.success {
	
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------

.fa {
  margin-right: 6px;
}

.navbar-colour {
  background-color:black;
  color:#FFF;
}
.navbar-default .navbar-brand {
  color:#FFF;
}
.navbar-default .navbar-nav>li>a {
  color:#FFF;
}
.navbar-default .navbar-nav>li>a:hover {
  color:#FFF;
  background-color:#444;
}
// Question List Styling

.container {
  position:relative;
}
.header {
  position: relative;
  padding-bottom:2em;
}
.left-header {
  float:left;
}
.left-header a {
  text-indent: -9999px;
  display:block;
  width:200px;
  height:50px;
  background-image: url(../images/so-logo.png);
  background-repeat:no-repeat;
  background-position: top left;
  position:relative;
  top:5px;
}
.clear-floats {
  clear:both;
}
.right-header {
  position: absolute;
  right:0;
  top:20px;
}
.nav-mainnavs, .nav-askquestion {
  display: inline-block;
}
.nav-mainnavs ul, .nav-askquestion ul {
  list-style:none;  
  padding:0;
}
.nav-mainnavs ul li, .nav-askquestion ul li {
  display: inline-block;
  margin:0;
  padding:0;
  margin-left:5px;
}
.nav-mainnavs ul li a, .nav-askquestion ul li a {
  padding: 4px 10px 5px;
  background:#9ea3a9;
  color:#fff;
  line-height:1.3;
  font-size:14px;
  text-decoration: none;
  transition: background, 0.15s, ease;
  -webkit-transition: background, 0.15s, ease;
  -moz-transition:background, 0.15s, ease;
  -o-transition:background, 0.15s, ease;
}
.nav-mainnavs ul li a:hover, .nav-askquestion ul li a:hover {
  background-color:#f69c55;
}
.margin-top {
  margin-top:1em;
}
.question-container {
  position:relative;
  border-top:1px solid #e0e0e0;
  padding-bottom:4.5em;
  padding-top:1em;
}
.question-statistics {
  float: left;
  width:20%;
}

.question-summary {
  float: left;
  width:50%;
  text-align:left;
}

.question-views, .question-answers, .question-votes {
  display:inline-block;
  font-size:1.2em;
  min-width:38px;
}
.question-title, .question-slug{
  font-size:1.2em;
}

.question-title a {
  text-decoration: none;
}
.question-title a:hover {
  color:#30a7fc;
}
.question-tag {
  font-size:1em;
}

.views, .answers, .vote {
  text-align:center;
  margin-right:25px;
}

.views div, .answers div, .vote div {
  padding:5px 0;
}

.views > div, .answers > div, .vote > div {
  font-size:0.8em;
}

.question-author {
  position:absolute;
  right:20em;
  font-size:1em;
  padding-top: 0.4em; 
  color:#999;
}

.blue {
  color:#337ab7;
}

.question-box {
  line-height:18px;
}
.question-tag {
  background-color:#e4edf4;
  display:inline-block;
  border-radius:0;
  border:1px solid #e4edf4;
  padding: .4em .5em;
}